:root {
	--white-color: #ffffff;
	--purple-color: #8d5cf6;
	--dark-purple: #252b42;
	--mini-textcolor: #737373;
	--color-bg: #26335d;
	--line-color: #e74040;
	--dolar-curse: #bdbdbd;
	--black-color: #000;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*:focus {
	outline: 2px dotted var(--dark-purple);
	outline-offset: 3px;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Montserrat';
	font-weight: 400, 700;
	color: var(--white-color);
	line-height: 1.55;
	font-size: 18px;
	overflow-x: hidden;
}

.container {
	max-width: 1085px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.btn {
	border: none;
	padding: 16px 24px;
	border-radius: 5px;
	background-color: var(--purple-color);
	color: var(--white-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	opacity: 0.6;
}

.site-wrapper {
	background-color: var(--color-bg);
}

.site-header {
	background-image: url(../img/header-bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 16px;
	padding-bottom: 197px;
}

.site-header__top {
	display: flex;
	text-align: center;
	padding-bottom: 17px;
	margin-bottom: 133px;
}

.site-logo {
	margin-right: 83px;
}

.site-logo__text {
	width: 235px;
	height: 24px;
	display: inline-block;
	transition: opacity 0.4s ease;
}

.site-logo__text:hover {
	opacity: 0.8;
}

.site-logo__text:active {
	opacity: 0.6;
}

.site-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	text-align: center;
	margin-right: auto;
}

.site-nav__item:not(:last-child) {
	margin-right: 40px;
}

.site-nav__link {
	text-transform: uppercase;
	color: var(--text-color);
	transition: all 0.4s ease;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.2;
	font-weight: 700;
}

.site-nav__link:hover {
	color: var(--purple-color);
}

.site-nav__link:active {
	opacity: 0.6;
}

.site-right__text {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.site-right__link:not(:last-child) {
	margin-right: 20px;
}

.site-right__text-link {
	display: flex;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.6px;
	letter-spacing: 0.2;
	color: var(--white-color);
	transition: all 0.4s ease;
}

.site-right__text-link:hover {
	color: var(--purple-color);
}

.site-right__text-link:active {
	opacity: 0.6;
}

.site-right__text-link:not(:last-child) {
	margin-right: 40px;
}

.site-header__bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.under__info-title {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5px;
	letter-spacing: 0.1px;
	margin-bottom: 40px;
	color: var(--white-color);
}

.under__info-text {
	font-weight: 700;
	font-size: 58px;
	line-height: 1.4;
	letter-spacing: 0.2px;
	color: var(--white-color);
	margin-bottom: 40px;
}

.under__info-under-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: var(--white-color);
	padding-bottom: 40px;
}

.site-hero-wrapper {
	padding-top: 140px;
}

.hero {
	padding-top: 80px;
	padding-bottom: 80px;
}

.hero__list {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 58px;
	padding-bottom: 58px;
}

.hero__item:not(:last-child) {
	margin-right: 86px;
}

.hero__midle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 160px;
	padding-bottom: 160px;
}

.hero__youtube {
	position: relative;
	padding-top: 160px;
	padding-bottom: 160px;
	width: 508px;
	height: 363px;
}

.hero__youtube:hover {
	filter: blur(2px);
	cursor: pointer;
}

.hero__midle-woman {
	border-radius: 20px;
	margin-right: 156px;
	width: 508px;
	height: 363px;
}

.hero__midle-icon {
	position: absolute;
	top: calc(50% - 46px);
	right: calc(50% - 46px);
	transition: all 0.4s ease;
}

.site__among-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 160px;
}

.site__among-line {
	display: inline-block;
	width: 94px;
	height: 7px;
	background-color: var(--line-color);
	margin-bottom: 40px;
}

.site__among-text {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: 0.2px;
	color: var(--white-color);
	margin-bottom: 35px;
}

.site__among-text-little {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.2;
	margin-bottom: 35px;
}

.site__among-teg {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--purple-color);
	transition: all 0.4s ease;
}

.site__among-courses {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--purple-color);
	margin-bottom: 10px;
}

.site__among-teg:hover {
	color: var(--white-color);
}

.site__among-teg:active {
	opacity: 0.6;
}

.site__among-color {
	max-width: 502px;
	position: relative;
}

.site__among-color-purple {
	margin-left: 30px;
}

.site__among-img-one {
	max-width: 502px;
}

.get-quality-education__list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.get-quality-education__item {
	max-width: 241px;
	width: 100%;
	background-color: var(--white-color);
}

.get-quality-education__inner {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--purple-color);
	margin-bottom: 10px;
}

.get-quality-education__text {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.3;
	letter-spacing: 0.2px;
	color: var(--white-color);
	margin-bottom: 10px;
}

.get-quality-education__mini-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: var(--white-color);
	padding-bottom: 112px;
}

.get-quality-education__title {
	color: var(--purple-color);
}

.get-quality-education__wrapper {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-between;
	background-image: url(../img/book.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	padding-top: 20px;
	margin-bottom: 24px;
}

.get-quality-education__wrapper2 {
	background-image: url(../img/pencil.jpg);
}

.get-quality-education__wrapper3 {
	background-image: url(../img/laptop.jpg);
}

.get-quality-education__wrapper4 {
	background-image: url(../img/child-girl.jpg);
}

.get-quality-education__img-one {
	left: center;
	bottom: 24px;
}

.get-quality-education__text-little {
	top: 20px;
	left: 20px;
	width: 51px;
	height: 24px;
	margin-left: 20px;
	border-radius: 3px;
	padding: 0px, 10px, 0px, 10px;
	color: var(--white-color);
	background-color: var(--line-color);
	transition: all 0.4s ease;
	border: none;
	cursor: pointer;
}

.get-quality-education__text-little:hover {
	background-color: var(--dark-purple);
}

.get-quality-education__text-little:active {
	opacity: 0.6;
}

.get-quality-education__img-icon {
	display: flex;
}

.get-quality-education__icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--white-color);
}

.get-quality-education__icons:not(:last-child) {
	margin-right: 10px;
}

.get-quality-education__bottom-reason {
	display: flex;
	flex-direction: column;
	padding: 25px 25px 35px;
}

.get-quality-education__bottom-info-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.get-quality-education__bottom-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--purple-color);
}

.get-quality-education__star-icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--dark-purple);
	border-radius: 20px;
	padding: 5px;
}

.get-quality-education__star-icon-grade {
	margin-right: 5px;
}

.get-quality-education__training-course {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: var(--dark-purple);
	margin-bottom: 10px;
}

.get-quality-education__ergonomics {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.2px;
	color: var(--mini-textcolor);
	margin-bottom: 10px;
}

.get-quality-education__curse-sales {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
}

.get-quality-education__curse-dollar {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: var(--dolar-curse);
	margin-bottom: 10px;
}

.get-quality-education__second-curse {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: var(--line-color);
	margin-bottom: 15px;
}

.get-quality-education__learn-more {
	font-weight: 700;
	font-size: 14px;
	border-radius: 37px;
	border: 1px solid var(--purple-color);
	padding: 10px 20px 10px 20px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--purple-color);
	transition: all 0.4s ease;
	cursor: pointer;
}

.get-quality-education__learn-more:hover {
	color: var(--white-color);
	background-color: var(--purple-color);
}

.get-quality-education__learn-more:active {
	opacity: 0.6;
}

.testimonials-site {
	max-width: 691px;
	padding-top: 160px;
	padding-bottom: 96px;
}

.testimonials-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 508px;
	width: 100%;
	background-color: var(--white-color);
}

.testimonials-img-man {
	text-align: center;
	justify-content: center;
	border-radius: 200px;
	margin-left: 190px;
	margin-top: 25px;
	margin-right: 190px;
	margin-bottom: 30px;
}

.testimonials-under-mini-forexaples {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.2px;
	color: var(--mini-textcolor);
	margin-bottom: 15px;
}

.testimonials-for-stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.testimonials-every-stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.testimonials-four-stars {
	width: 22px;
	height: 22px;
}

.testimonials-last-a-few-star:not(:last-child) {
	margin-right: 2px;
}

.testimonials-regina {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: var(--dark-purple);
	margin-bottom: 5px;
}

.testimonials-desinger {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--mini-textcolor);
	margin-bottom: 30px;
}

.testimonials-two-tipes {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.testimonials-first-tipe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.testimonials-first-tipe:not(:last-child) {
	margin-right: 30px;
}

.testimonials-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--purple-color);
	padding-top: 339px;
	margin-bottom: 10px;
}

.testimonials-massive-text {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.3;
	letter-spacing: 0.2px;
	color: var(--white-color);
	margin-bottom: 10px;
}

.testimonials-mini-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.2px;
	color: var(--white-color);
	padding-bottom: 112px;
}

.testimonials-under-color-bg {
	background-color: var(--white-color);
}

.testimonials-under-image-woman {
	width: 238px;
	height: 231px;
	border-radius: 20px 20px 0px 0px;
}

.testimonials-under-imges {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 112px;
}

.testimonials-under-tegs {
	display: flex;
	max-width: 238px;
	background-color: var(--white-color);
	border-radius: 20px;
}

.testimonials-under-text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.7;
	letter-spacing: 0.1px;
	color: var(--dark-purple);
	margin-bottom: 10px;
}

.testimonials-under-text-mini {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.3;
	letter-spacing: 0.2px;
	color: var(--mini-textcolor);
	margin-bottom: 10px;
}

.testimonials-under-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.testimonials-for-icons {
	text-align: center;
	border-radius: 20px;
	background-color: var(--white-color);
}

.testimonials-for-icons:not(:last-child) {
	margin-right: 30px;
}

.testimonials-under-icons-link1 {
	margin-bottom: 30px;
}

.testimonials-under-icons-link1:not(:last-child) {
	margin-right: 20px;
}

.testimonials-under-icons-link1 svg {
	color: #8d5cf6;
	transition: color 0.4s ease;
}

.testimonials-under-icons-link1 svg:hover {
	color: #252b42;
}

.newsletter {
	max-width: 692px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.newsletter-header {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: #8d5cf6;
	text-align: center;
	margin-bottom: 10px;
}

.newsletter-text {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: 0.2px;
	text-align: center;
	margin-bottom: 10px;
}

.newsletter-under-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.2px;
	text-align: center;
	margin-bottom: 80px;
}

form {
	width: 100%;
}

form div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.newsletter-email {
	border-radius: 5px 0px 0px 5px;
	border: none;
	width: 70%;
	padding: 20px 15px;
}

.btn-subcribe {
	width: 117px;
	border-radius: 0px 5px 5px 0px;
	border: 1px;
	color: var(--white-color);
	background-color: var(--purple-color);
	padding: 20px 15px;
	transition: all 0.4s ease;
}

.btn-subcribe:hover {
	opacity: 0.6;
	color: var(--purple-color);
	background-color: var(--white-color);
}

.btn-subcribe:active {
	opacity: 0.6;
}

.company-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 210px;
}

.company-info-img-under {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--white-color);
	transition: all 0.4s ease;
}

.company-info-img-under:hover {
	opacity: 0.6;
	color: var(--purple-color);
}

.company-info-img-under:active {
	opacity: 0.6;
}

.company-info-tegs-text {
	margin-bottom: 10px;
}

.company-info-tegs-text:not(:last-child) {
	margin-right: 30px;
}

.company-info-extra-name {
	margin-right: 10px;
}

.site-footer {
	max-width: 1440px;
	background-color: var(--white-color);
}

.site-footer-made {
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding-top: 25px;
}

.site-footer-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: var(--mini-textcolor);
	transition: all 0.4s ease;
}

.site-footer-text:hover {
	opacity: 0.6;
	color: var(--purple-color);
}

.site-footer-text:active {
	opacity: 0.6;
}
